@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667
}

.justify-content-end {
    margin-right: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a:hover {
    text-decoration: none
}

button {
    cursor: pointer
}

button:focus {
    outline: 0;
    box-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
    color: #222;
    line-height: 1.25
}

h1,
.h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1
}

@media (min-width: 800px) {
    h1,
    .h1 {
        font-size: 60px
    }
}

h2,
.h2 {
    font-size: 28px;
    font-weight: 700
}

@media (min-width: 1000px) {
    h2,
    .h2 {
        font-size: 36px
    }
}

h3,
.h3 {
    font-size: 18px;
    font-weight: 700
}

@media (min-width: 1000px) {
    h3,
    .h3 {
        font-size: 20px
    }
}

.section-margin {
    margin: 70px 0
}

@media (min-width: 1000px) {
    .section-margin {
        margin: 120px 0
    }
}

.section-margin--large {
    margin: 65px 0
}

@media (min-width: 1200px) {
    .section-margin--large {
        margin: 130px 0
    }
}

.section-padding--small {
    padding: 70px 0
}

@media (min-width: 1000px) {
    .section-padding--small {
        padding: 120px 0
    }
}

.section-padding--smaller {
    padding: 70px 0
}

@media (min-width: 1000px) {
    .section-padding--smaller {
        padding: 100px 0
    }
}

.pb-65px {
    padding-bottom: 65px
}

.mb-60px {
    margin-bottom: 60px
}

.bg-albaster {
    background-color: #f7f7f7
}

.header-top {
    background: #0f0f16;
    color: #fff;
    padding: 20px 0
}

@media (min-width: 600px) {
    .header-top {
        padding: 8px 0
    }
}

.header-top__info li {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-right: 25px
}

.header-top__info li:last-child {
    margin-right: 0
}

.header-top__info li a {
    color: #fff
}

.header-top__info li i,
.header-top__info li span {
    color: #ff9907;
    padding-right: 5px
}

.header-top__social li {
    display: inline-block
}

.header-top__social li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.header-top__social li a:hover {
    color: #fff
}

.header-top__social li::after {
    content: "|";
    color: #ff9907;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 400
}

.header-top__social li:last-child::after {
    display: none
}

.header_area {
    width: 100%;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear
}

.header_area .navbar-right {
    min-width: 200px;
    text-align: right
}

@media (max-width: 991px) {
    .header_area .navbar-right {
        margin: 20px 0
    }
}

.header_area .navbar-brand {
    margin-right: 30px
}

.header_area .navbar-social {
    min-width: 95px;
    float: right
}

.header_area .navbar-social li {
    margin-right: 12px
}

.header_area .navbar-social li i,
.header_area .navbar-social li span {
    font-size: 13px;
    color: #242429
}

.header_area .navbar-social li:last-child {
    margin-right: 0
}

.header_area .navbar-social li a:hover i,
.header_area .navbar-social li span {
    color: #ee1d23
}

.header_area .menu_nav {
    width: 100%
}

.header_area .navbar {
    background: transparent;
    padding: 5px 0;
    border: 0px;
    border-radius: 0px;
    width: 100%
}

@media (min-width: 991px) {
    .header_area .navbar {
        padding: 9px 0;
        /* margin-top:-10px; */
        margin-top:4px;
    }
}

.header_area .navbar .nav .nav-item {
    margin-right: 30px
}

.header_area .navbar .nav .nav-item .nav-link,
.nav-link1 {
    font-family: "Roboto", sans-serif;
    color: #222;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 700;
    display: inline-block
}

.header_area .navbar .nav .nav-item .nav-link:after {
    display: none
}

.navlink1:after {
    display: none
}

.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
    color: #ee1d23;
    opacity: 1
}

.header_area .navbar .nav .nav-item.submenu {
    position: relative
}

.header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff
}

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
        position: absolute;
        top: 120%;
        left: 0px;
        min-width: 270px;
        text-align: left;
        opacity: 0;
        /*transition: all 300ms ease-in; */
        visibility: hidden;
        display: block;
        border: none;
        padding: 0px;
        border-radius: 0px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4)
    }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all 400ms linear
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    transition: all 10ms linear
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link,
.nav-link1 {
    line-height: 32px;
    color: #ee1d23 !important;
    padding: 0px 30px;
    /* transition: all 150ms linear; */
    display: block;
    margin-right: 0px
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
    border-bottom: none
}

.header_area .navbar .nav .nav-item.submenu .nav-item:hover .nav-link {
    background-color: #ee1d23;
    color: #fff !important
}

.nav-link1:hover {
    background-color: #ee1d23;
    color: #fff !important
}

@media (min-width: 992px) {
    .header_area .navbar .nav .submenu:hover ul {
        visibility: visible;
        opacity: 1;
        top: 100%
    }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0px
}

.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px
}

.header_area .navbar .search {
    font-size: 12px;
    line-height: 60px;
    display: inline-block;
    margin-left: 80px
}

.header_area .navbar .search i {
    font-weight: 600
}

.header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fafaff;
    height:90px;
    z-index: 99;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1)
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 20px
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item:hover .nav-link,
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item.active .nav-link {
    /* color: #fff */
}

@media (min-width: 992px) {
    .header_area.white_menu .navbar .navbar-brand img {
        display: none
    }
    .header_area.white_menu .navbar .navbar-brand img+img {
        display: inline-block
    }
}

@media (max-width: 991px) {
    .header_area.white_menu .navbar .navbar-brand img {
        display: inline-block
    }
    .header_area.white_menu .navbar .navbar-brand img+img {
        display: none
    }
}

.header_area.white_menu .navbar .nav .nav-item .nav-link {
    color: #fff
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
    display: inline-block
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img+img {
    display: none
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 70px
}

.top_menu {
    background: #ec9d5f
}

.top_menu .float-left a {
    line-height: 40px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.top_menu .float-left a:last-child {
    margin-right: 0px
}

.top_menu .float-right .pur_btn {
    color: #fff;
    line-height: 40px;
    display: block;
    padding: 0px 40px;
    font-weight: 500;
    font-size: 12px
}

@media (max-width: 1619px) {
    .header_area .navbar .search {
        margin-left: 40px
    }
}

@media (max-width: 1199px) {
    .header_area .navbar .nav .nav-item {
        margin-right: 28px
    }
    .home_banner_area .banner_inner {
        padding: 100px 0px
    }
    .header_area .navbar .tickets_btn {
        margin-left: 40px
    }
    .home_banner_area .banner_inner .banner_content h2 br {
        display: none;
        font-size: 36px
    }
    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 36px;
        line-height: 45px
    }
}

@media (max-width: 991px) {
    .navbar-toggler {
        background-color: #ee1d23;
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px
    }
    .header_area .navbar {
        background: #fff
    }
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0
    }
    .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px
    }
    .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative
    }
    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer
    }
    .navbar .container {
        padding-left: 15px;
        padding-right: 15px
    }
    .nav {
        padding: 0px 0px
    }
    .header_top .nav {
        padding: 0px
    }
    .header_area .navbar .nav .nav-item .nav-link {
        line-height: 30px;
        margin-right: 0px;
        display: block;
        border-bottom: 1px solid #ededed33;
        border-radius: 0px
    }
    .header_area .navbar .search {
        margin-left: 0px
    }
    .header_area .navbar-collapse {
        border-top: 1px solid #ee1d23;
        max-height: 340px;
        overflow-y: scroll
    }
    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        padding: 0px 15px
    }
    .header_area .navbar .nav .nav-item {
        margin-right: 0px
    }
    .home_banner_area .banner_inner .banner_content .banner_map_img {
        display: none
    }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px
    }
    .header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px
    }
    .header_area.white_menu .navbar .nav .nav-item .nav-link {
        color: #222
    }
    .categories_post img {
        width: 100%
    }
    .categories_post {
        max-width: 360px;
        margin: 0 auto
    }
    .blog_categorie_area .col-lg-4 {
        margin-top: 30px
    }
    .blog_area {
        padding-bottom: 80px
    }
    .single-post-area .blog_right_sidebar {
        margin-top: 30px
    }
    .contact_info {
        margin-bottom: 50px
    }
    .home_banner_area .donation_inner {
        margin-bottom: -30px
    }
    .home_banner_area .dontation_item {
        max-width: 350px;
        margin: auto
    }
    .footer_area .col-sm-6 {
        margin-bottom: 30px
    }
    .footer_area .footer_inner {
        margin-bottom: -30px
    }
    .news_widget {
        padding-left: 0px
    }
    .home_banner_area .banner_inner .home_left_img {
        display: none
    }
    .header_area .navbar .tickets_btn {
        display: none
    }
    .home_banner_area .banner_inner {
        padding: 70px 0px 100px 0px
    }
    .left_side_text {
        margin-bottom: 50px
    }
    .price_item {
        max-width: 360px;
        margin: 0px auto 30px
    }
    .price_inner {
        margin-bottom: -30px
    }
}

@media (max-width: 767px) {
    .home_banner_area {
        min-height: 500px
    }
    .home_banner_area .banner_inner {
        min-height: 500px
    }
    .home_banner_area .banner_inner .banner_content {
        margin-top: 0px
    }
    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 40px;
        line-height: 50px
    }
    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px
    }
    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 30px
    }
    .home_banner_area .banner_inner .banner_content p br {
        display: none
    }
    .home_banner_area .banner_inner .banner_content h3 span {
        line-height: 45px;
        padding-bottom: 0px;
        padding-top: 0px
    }
    .footer-bottom {
        text-align: center
    }
    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px
    }
    .made_life_inner .nav.nav-tabs li {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px
    }
    .made_life_inner .nav.nav-tabs {
        margin-bottom: -15px
    }
    .made_life_area.made_white .left_side_text {
        margin-bottom: 0px;
        margin-top: 30px
    }
}

@media (max-width: 575px) {
    .top_menu {
        display: none
    }
    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 28px;
        line-height: 38px
    }
    .home_banner_area {
        min-height: 450px
    }
    .home_banner_area .banner_inner {
        min-height: 450px
    }
    .blog_banner .banner_inner .blog_b_text {
        margin-top: 0px
    }
    .home_banner_area .banner_inner .banner_content img {
        display: none
    }
    .home_banner_area .banner_inner .banner_content h5 {
        margin-top: 0px
    }
    .p_120 {
        padding-top: 70px;
        padding-bottom: 70px
    }
    .main_title h2 {
        font-size: 25px
    }
    .sample-text-area {
        padding: 70px 0 70px 0
    }
    .generic-blockquote {
        padding: 30px 15px 30px 30px
    }
    .blog_details h2 {
        font-size: 20px;
        line-height: 30px
    }
    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 28px;
        line-height: 38px
    }
    .footer-area {
        padding: 70px 0px
    }
    .pad_top {
        padding-top: 70px
    }
    .pad_btm {
        padding-bottom: 70px
    }
}

@media (max-width: 480px) {
    .header_area .navbar-collapse {
        max-height: 250px
    }
    .home_banner_area .banner_inner .banner_content {
        padding: 30px 15px;
        margin-top: 0px
    }
    .banner_content .white_btn {
        display: block
    }
    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 24px
    }
    .banner_area .banner_inner .banner_content h2 {
        font-size: 32px
    }
    .comments-area .thumb {
        margin-right: 10px
    }
    .testi_item .media .d-flex {
        padding-right: 0px
    }
    .testi_item .media .d-flex img {
        width: auto;
        margin-bottom: 15px
    }
    .testi_item .media {
        display: block
    }
    .banner_btn {
        margin-bottom: 20px
    }
}

.hero-banner {
    position: relative;
    height: 400px;
    /* background: url("../img/banner/hero-banner.png") left center no-repeat; */
    background: url("../img/Slider/zebraMantra-sm.jpg") left center no-repeat;
    background-size: cover;
    z-index: 1
}

@media (min-width: 1000px) {
    .hero-banner {
        height: 600px
    }
}

@media (min-width: 1200px) {
    .hero-banner {
        height: 800px
    }
}

.hero-banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 4, 23, 0.702);
    z-index: -1
}

.hero-banner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    max-width: 620px
}

.hero-banner__content h1 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 50px
}

.hero-banner--sm {
    height: 280px
}

@media (min-width: 1000px) {
    .hero-banner--sm {
        height: 350px
    }
}

@media (min-width: 1200px) {
    .hero-banner--sm {
        height: 450px
    }
}

.hero-banner--sm h1 {
    margin-bottom: 12px
}

.banner-breadcrumb {
    display: inline-block
}

.banner-breadcrumb .breadcrumb {
    background: transparent;
    padding: 0
}

.banner-breadcrumb .breadcrumb-item {
    padding: .1rem
}

.banner-breadcrumb .breadcrumb-item a {
    text-transform: capitalize;
    color: #fff
}

.banner-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    padding-left: .2rem;
    padding-right: .4rem
}

.banner-breadcrumb .breadcrumb-item.active {
    color: #fff
}

.section-intro {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto
}

.section-intro__title {
    font-weight: 700;
    color: #222;
    margin-bottom: 15px
}

.section-intro__subtitle {
    font-size: 15px;
    color: #777;
    margin-bottom: 0
}

.static__single {
    border-radius: 4px;
    text-align: center;
    background: #fff;
    border: 0;
    padding: 20px;
    box-shadow: 0px 15px 20px 0px rgba(153, 153, 153, 0.1)
}

.static__single h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px
}

.static__single h3::after {
    content: "";
    display: inline-block;
    width: 60%;
    height: 2px;
    background: #ee1d23;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.static__single h4 {
    font-size: 20px;
    font-weight: 700
}

.static__single-position {
    margin-top: 40px;
    margin-bottom: 40px
}

@media (min-width: 1000px) {
    .static__single-position {
        margin: auto;
        position: relative;
        bottom: 40px;
        margin-bottom: -40px;
        z-index: 50
    }
}

.card-subject {
    border: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.card-subject__img {
    position: relative;
    overflow: hidden
}

.card-subject__imgOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(50px);
    background: rgba(222, 99, 32, 0.51);
    opacity: 0;
    z-index: -1;
    transition: all .52s ease
}

.card-subject__imgOverlay img,
.card-subject__imgOverlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card-subject__body {
    background: #f7f7f7;
    padding: 25px 18px 30px 30px
}

.card-subject__body h3 {
    margin-bottom: 16px
}

.card-subject__body a {
    color: #222
}

.card-subject:hover {
    box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.2)
}

.card-subject:hover .card-subject__imgOverlay {
    opacity: 1;
    z-index: 1;
    transform: translateY(0)
}

.card-subject:hover .card-subject__body {
    background: #fff
}

.testimonial {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto
}

.testimonial__item {
    background: #fff;
    border-radius: 5px;
    padding: 30px 15px
}

@media (min-width: 600px) {
    .testimonial__item {
        padding: 30px 50px
    }
}

.testimonial__img {
    max-width: 132px
}

.testimonial__content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0
}

.testimonial__content p {
    font-size: 14px;
    margin-bottom: 10px
}

.testimonial__i {
    font-size: 15px !important;
    font-style: italic;
    margin-bottom: 0 !important
}

.testimonial__icon {
    font-size: 173px;
    color: rgba(119, 119, 119, 0.1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px
}

.testimonial .owl-dots {
    margin-top: 30px !important
}

@media (min-width: 600px) {
    .testimonial .owl-dots {
        margin-top: 60px !important
    }
}

.testimonial .owl-dots .owl-dot span {
    width: 20px;
    height: 4px;
    background: #d3d2d5;
    border-radius: 2px;
    margin: 5px 10px
}

.testimonial .owl-dots .owl-dot.active span {
    background: #ee1d23
}

.card-team {
    border: 0;
    border-radius: 0;
    background: #f7f7f7;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.card-team__body {
    border: 1px solid transparent;
    border-top: 0;
    box-shadow: 0px 5px 25.5px 4.5px rgba(221, 221, 221, 0.2);
    padding: 20px 9px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.card-team__body h3 {
    font-size: 20px;
    margin-bottom: 3px
}

.card-team__body h3 a {
    color: #222
}

.card-team__body p {
    margin-bottom: 14px
}

.card-team__social li {
    display: inline-block;
    margin-right: 14px
}

.card-team__social li:last-child {
    margin-right: 0
}

.card-team__social li a {
    color: #777884
}

.card-team__social li a:hover {
    color: #ee1d23
}

.card-team:hover {
    background: #fff
}

.card-team:hover .card-team__body {
    border-color: #ee1d23
}

.cta-wrapper {
    background: url(../img/home/cta-bg.png) left center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1
}

.cta-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 0, 9, 0.6);
    z-index: -1
}

.cta__content {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    color: #fff
}

.cta__content h2 {
    color: #fff;
    margin-bottom: 20px
}

.cta__content p {
    margin-bottom: 25px
}

@media (min-width: 1000px) {
    .cta__content p {
        margin-bottom: 45px
    }
}

.card-blog {
    border: 0;
    border-radius: 0
}

.card-blog__body {
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee
}

.card-blog__body h3 {
    margin-bottom: 15px
}

.card-blog__body h3 a {
    color: #222
}

.card-blog__body p {
    margin-bottom: 0
}

.card-blog__info {
    margin-bottom: 12px
}

.card-blog__info li {
    display: inline-block;
    font-size: 14px;
    color: #999999;
    margin-right: 13px
}

.card-blog__info li:last-child {
    margin-right: 0
}

.card-blog__info li a {
    color: #999999
}

.card-blog__info li i,
.card-blog__info li span {
    font-size: 13px;
    margin-right: 8px
}

.card-blog__footer {
    font-size: 14px;
    color: #222;
    font-weight: 500;
    padding: 18px 0
}

.card-blog__footer a {
    color: #222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.card-blog__footer i,
.card-blog__footer span {
    font-size: 13px;
    padding-left: 8px
}

.card-blog:hover .card-blog__footer a {
    color: #ee1d23
}

.about__content {
    margin-top: 35px
}

@media (min-width: 991px) {
    .about__content {
        margin-top: 0;
        margin-left: 35px
    }
}

@media (min-width: 1200px) {
    .about__content {
        max-width: 470px
    }
}

@media (min-width: 1450px) {
    .about__content {
        margin-left: 95px
    }
}

.about__content h3 {
    font-size: 26px;
    margin-bottom: 25px
}

@media (min-width: 600px) {
    .about__content h3 {
        font-size: 36px
    }
}

.about__content p {
    margin-bottom: 25px
}

.about__video {
    position: relative
}

@media (min-width: 1000px) {
    .about__videoWrapper {
        min-width: 550px
    }
}

@media (min-width: 1400px) {
    .about__videoWrapper {
        min-width: 880px
    }
}

.about__video-image {
    position: relative
}

.about__video-image::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 0, 9, 0.6)
}

.about__videoContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center
}

.about__videoContent h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 700
}

.video-play-button {
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 46px 8px 18px 28px
}

@media (max-width: 991px) {
    .video-play-button {
        transform: scale(0.8)
    }
}

.video-play-button:before,
.video-play-button:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%
}

.video-play-button:before {
    z-index: 0;
    -webkit-animation: pulse-border 2000ms ease-out infinite;
    -moz-animation: pulse-border 2000ms ease-out infinite;
    -o-animation: pulse-border 2000ms ease-out infinite;
    animation: pulse-border 2000ms ease-out infinite
}

.video-play-button:after {
    z-index: 1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 16px solid #ee1d23;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent
}

@-webkit-keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: .7
    }
    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1
    }
}

@-moz-keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: .7
    }
    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1
    }
}

@-o-keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: .7
    }
    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1
    }
}

@keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: .7
    }
    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1
    }
}

.counters {
    background: url(../img/home/counters-bg.png) left center no-repeat;
    background-size: cover;
    position: relative;
    padding: 60px 0;
    z-index: 1
}

@media (min-width: 991px) {
    .counters {
        padding: 110px 0
    }
}

.counters::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 2, 6, 0.7);
    z-index: -1
}

.counters__single h2 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #ee1d23;
    display: inline-block;
    margin-bottom: 20px
}

@media (min-width: 991px) {
    .counters__single h2 {
        margin-bottom: 30px
    }
}

.counters__single h2::after {
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px
}

.counters__single h4 {
    font-size: 20px;
    font-weight: 700;
    color: #fff
}

.l_blog_item .l_blog_text .date {
    margin-top: 24px;
    margin-bottom: 15px
}

.l_blog_item .l_blog_text .date a {
    font-size: 12px
}

.l_blog_item .l_blog_text h4 {
    font-size: 18px;
    color: #222;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0px;
    padding-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.l_blog_item .l_blog_text h4:hover {
    color: #ee1d23
}

.l_blog_item .l_blog_text p {
    margin-bottom: 0px;
    padding-top: 20px
}

.causes_slider .owl-dots {
    text-align: center;
    margin-top: 80px
}

.causes_slider .owl-dots .owl-dot {
    height: 14px;
    width: 14px;
    background: #eeeeee;
    display: inline-block;
    margin-right: 7px
}

.causes_slider .owl-dots .owl-dot:last-child {
    margin-right: 0px
}

.causes_slider .owl-dots .owl-dot.active {
    background: #ee1d23
}

.causes_item {
    background: #fff
}

.causes_item .causes_img {
    position: relative
}

.causes_item .causes_img .c_parcent {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5)
}

.causes_item .causes_img .c_parcent span {
    width: 70%;
    height: 3px;
    background: #ee1d23;
    position: absolute;
    left: 0px;
    bottom: 0px
}

.causes_item .causes_img .c_parcent span:before {
    content: "75%";
    position: absolute;
    right: -10px;
    bottom: 0px;
    background: #ee1d23;
    color: #fff;
    padding: 0px 5px
}

.causes_item .causes_text {
    padding: 30px 35px 40px 30px
}

.causes_item .causes_text h4 {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer
}

.causes_item .causes_text h4:hover {
    color: #ee1d23
}

.causes_item .causes_text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0px
}

.causes_item .causes_bottom a {
    width: 50%;
    border: 1px solid #ee1d23;
    text-align: center;
    float: left;
    line-height: 50px;
    background: #ee1d23;
    color: #fff;
    font-size: 14px;
    font-weight: 500
}

.causes_item .causes_bottom a+a {
    border-color: #eeeeee;
    background: #fff;
    font-size: 14px;
    color: #222
}

.latest_blog_area {
    background: #f9f9ff
}

.single-recent-blog-post {
    margin-bottom: 30px
}

.single-recent-blog-post .thumb {
    overflow: hidden
}

.single-recent-blog-post .thumb img {
    transition: all 0.7s linear
}

.single-recent-blog-post .details {
    padding-top: 30px
}

.single-recent-blog-post .details .sec_h4 {
    line-height: 24px;
    padding: 10px 0px 13px;
    transition: all 0.3s linear
}

.single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400
}

.single-recent-blog-post:hover img {
    transform: scale(1.23) rotate(10deg)
}

.tags .tag_btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center;
    color: #222
}

.tags .tag_btn:before {
    background: #ee1d23
}

.tags .tag_btn+.tag_btn {
    margin-left: 2px
}

.blog_categorie_area {
    padding-top: 30px;
    padding-bottom: 30px
}

@media (min-width: 900px) {
    .blog_categorie_area {
        padding-top: 80px;
        padding-bottom: 80px
    }
}

@media (min-width: 1100px) {
    .blog_categorie_area {
        padding-top: 120px;
        padding-bottom: 120px
    }
}

.categories_post {
    position: relative;
    text-align: center;
    cursor: pointer
}

.categories_post img {
    max-width: 100%
}

.categories_post .categories_details {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(34, 34, 34, 0.75);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden
}

.categories_post .categories_details h5,
h6 {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    position: relative
}

.categories_post .categories_details p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px
}

.categories_post .categories_details .border_line {
    margin: 10px 0px;
    background: #fff;
    width: 100%;
    height: 1px
}

.categories_post:hover .categories_details {
    background: rgba(222, 99, 32, 0.85);
    visibility: visible;
    width: 100%;
    height: 100%;
}

.blog_item {
    margin-bottom: 40px
}

.blog_info {
    padding-top: 30px
}

.blog_info .post_tag {
    padding-bottom: 20px
}

.blog_info .post_tag a {
    color: #222;
    font-size: 14px
}

.blog_info .post_tag a.active {
    color: #ee1d23
}

.blog_info .blog_meta li a {
    color: #777777;
    vertical-align: middle;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 14px
}

.blog_info .blog_meta li a i {
    color: #222;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    line-height: 20px;
    vertical-align: middle
}

.blog_info .blog_meta li a:hover {
    color: #ee1d23
}

.blog_post img {
    max-width: 100%
}

.blog_details {
    padding-top: 20px
}

.blog_details h2 {
    font-size: 24px;
    line-height: 36px;
    color: #222;
    font-weight: 600;
    transition: all 0.3s linear
}

.blog_details h2:hover {
    color: #ee1d23
}

.blog_details p {
    margin-bottom: 26px
}

.view_btn {
    font-size: 14px;
    line-height: 36px;
    display: inline-block;
    color: #222;
    font-weight: 500;
    padding: 0px 30px;
    background: #fff
}

.blog_right_sidebar {
    border: 1px solid #eeeeee;
    background: #fafaff;
    padding: 30px
}

.blog_right_sidebar .widget_title {
    font-size: 18px;
    line-height: 25px;
    background: #ee1d23;
    text-align: center;
    color: #fff;
    padding: 8px 0px;
    margin-bottom: 30px
}

.blog_right_sidebar .search_widget .input-group .form-control {
    font-size: 14px;
    line-height: 29px;
    border: 0px;
    width: 100%;
    font-weight: 300;
    color: #fff;
    padding-left: 20px;
    border-radius: 45px;
    z-index: 0;
    background: #ee1d23
}

.blog_right_sidebar .search_widget .input-group .form-control.placeholder {
    color: #fff
}

.blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
    color: #fff
}

.blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
    color: #fff
}

.blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
    color: #fff
}

.blog_right_sidebar .search_widget .input-group .form-control:focus {
    box-shadow: none
}

.blog_right_sidebar .search_widget .input-group .btn-default {
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0px;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    padding: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1
}

.blog_right_sidebar .author_widget {
    text-align: center
}

.blog_right_sidebar .author_widget h4 {
    font-size: 18px;
    line-height: 20px;
    color: #222;
    margin-bottom: 5px;
    margin-top: 30px
}

.blog_right_sidebar .author_widget p {
    margin-bottom: 0px
}

.blog_right_sidebar .author_widget .social_icon {
    padding: 7px 0px 15px
}

.blog_right_sidebar .author_widget .social_icon a {
    font-size: 14px;
    color: #222;
    transition: all 0.2s linear
}

.blog_right_sidebar .author_widget .social_icon a+a {
    margin-left: 20px
}

.blog_right_sidebar .author_widget .social_icon a:hover {
    color: #ee1d23
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 14px;
    line-height: 20px;
    color: #222;
    margin-bottom: 4px;
    transition: all 0.3s linear
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
    color: #ee1d23
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 0px
}

.blog_right_sidebar .popular_post_widget .post_item+.post_item {
    margin-top: 20px
}

.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 2px dotted #eee;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px
}

.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #777
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px
}

.blog_right_sidebar .post_category_widget .cat-list li+li {
    padding-top: 15px
}

.blog_right_sidebar .post_category_widget .cat-list li:hover {
    border-color: #ee1d23
}

.blog_right_sidebar .post_category_widget .cat-list li:hover a {
    color: #ee1d23
}

.blog_right_sidebar .newsletter_widget {
    text-align: center
}

.blog_right_sidebar .newsletter_widget .form-group {
    margin-bottom: 8px
}

.blog_right_sidebar .newsletter_widget .input-group-prepend {
    margin-right: -1px
}

.blog_right_sidebar .newsletter_widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top;
    font-size: 12px;
    line-height: 36px;
    padding: 0px 0px 0px 15px;
    border: 1px solid #eeeeee;
    border-right: 0px
}

.blog_right_sidebar .newsletter_widget .input-group-text i {
    color: #cccccc
}

.blog_right_sidebar .newsletter_widget .form-control {
    font-size: 12px;
    line-height: 24px;
    color: #cccccc;
    border: 1px solid #eeeeee;
    border-left: 0px;
    border-radius: 0px
}

.blog_right_sidebar .newsletter_widget .form-control.placeholder {
    color: #cccccc
}

.blog_right_sidebar .newsletter_widget .form-control:-moz-placeholder {
    color: #cccccc
}

.blog_right_sidebar .newsletter_widget .form-control::-moz-placeholder {
    color: #cccccc
}

.blog_right_sidebar .newsletter_widget .form-control::-webkit-input-placeholder {
    color: #cccccc
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
    outline: none;
    box-shadow: none
}

.blog_right_sidebar .newsletter_widget .bbtns {
    background: #ee1d23;
    color: #fff;
    font-size: 12px;
    line-height: 38px;
    display: inline-block;
    font-weight: 500;
    padding: 0px 24px 0px 24px;
    border-radius: 0
}

.blog_right_sidebar .newsletter_widget .text-bottom {
    font-size: 12px
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 13px;
    margin-bottom: 8px;
    transition: all 0.3s ease 0s;
    color: #222;
    font-size: 12px
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #ee1d23;
    color: #fff
}

.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0px
}

.blog-pagination {
    padding-top: 25px;
    padding-bottom: 95px
}

.blog-pagination .page-link {
    font-size: 14px;
    border-radius: 0;
    padding: 0.5rem 0.55rem !important
}

.blog-pagination .page-item {
    border: none
}

.page-link {
    background: transparent;
    font-weight: 400
}

.blog-pagination .page-item.active .page-link {
    background-color: #ee1d23;
    border-color: transparent;
    color: #fff
}

.blog-pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #8a8a8a;
    border: none
}

.blog-pagination .page-link .lnr {
    font-weight: 600
}

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
    border-radius: 0
}

.blog-pagination .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ee1d23;
    border-color: #eee
}

.single-post-area .social-links {
    padding-top: 10px
}

.single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px
}

.single-post-area .social-links li a {
    color: #cccccc;
    padding: 7px;
    font-size: 14px;
    transition: all 0.2s linear
}

.single-post-area .social-links li a:hover {
    color: #222
}

.single-post-area .blog_details {
    padding-top: 26px
}

.single-post-area .blog_details p {
    margin-bottom: 10px
}

.single-post-area .quotes {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 24px 35px 24px 30px;
    background-color: #fff;
    box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
    font-size: 14px;
    line-height: 24px;
    color: #777;
    font-style: italic
}

.single-post-area .arrow {
    position: absolute
}

.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600
}

.single-post-area .thumb .overlay-bg {
    background: rgba(0, 0, 0, 0.8)
}

.single-post-area .navigation-area {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 60px
}

.single-post-area .navigation-area p {
    margin-bottom: 0px
}

.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px;
    color: #222
}

.single-post-area .navigation-area .nav-left {
    text-align: left
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: .5
}

@media (max-width: 767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px
    }
}

.single-post-area .navigation-area .nav-right {
    text-align: right
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: .5
}

@media (max-width: 991px) {
    .single-post-area .sidebar-widgets {
        padding-bottom: 0px
    }
}

.comments-area {
    background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 30px;
    margin-top: 50px
}

@media (max-width: 414px) {
    .comments-area {
        padding: 50px 8px
    }
}

.comments-area h4 {
    text-align: center;
    margin-bottom: 50px;
    color: #222;
    font-size: 18px
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px
}

.comments-area a {
    color: #222
}

.comments-area .comment-list {
    padding-bottom: 48px
}

.comments-area .comment-list:last-child {
    padding-bottom: 0px
}

.comments-area .comment-list.left-padding {
    padding-left: 25px
}

@media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px
    }
    .comments-area .comment-list .single-comment .date {
        font-size: 11px
    }
    .comments-area .comment-list .single-comment .comment {
        font-size: 10px
    }
}

.comments-area .thumb {
    margin-right: 20px
}

.comments-area .date {
    font-size: 13px;
    color: #cccccc;
    margin-bottom: 13px
}

.comments-area .comment {
    color: #777777;
    margin-bottom: 0px
}

.comments-area .btn-reply {
    background-color: #fff;
    color: #222;
    padding: 5px 18px;
    font-size: 12px;
    display: block;
    font-weight: 400;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.comments-area .btn-reply:hover {
    background-color: #ee1d23;
    color: #fff;
    font-weight: 700
}

.comment-form {
    background: #fafaff;
    text-align: center;
    border: 1px solid #eee;
    padding: 47px 30px 43px;
    margin-top: 50px;
    margin-bottom: 20px
}

.comment-form .form-group {
    margin-bottom: 20px
}

.comment-form h4 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
    color: #222
}

.comment-form .name {
    padding-left: 0px
}

@media (max-width: 767px) {
    .comment-form .name {
        padding-right: 0px;
        margin-bottom: 1rem
    }
}

.comment-form .email {
    padding-right: 0px
}

@media (max-width: 991px) {
    .comment-form .email {
        padding-left: 0px
    }
}

.comment-form .form-control {
    padding: 8px 20px;
    background: #fff;
    border: none;
    border-radius: 0px;
    width: 100%;
    font-size: 14px;
    color: #777777;
    border: 1px solid transparent
}

.comment-form .form-control:focus {
    box-shadow: none;
    border: 1px solid #eee
}

.comment-form .form-control::placeholder {
    color: #777777
}

.comment-form textarea.form-control {
    height: 140px;
    resize: none
}

.comment-form ::-webkit-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form ::-moz-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-ms-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-moz-placeholder {
    font-size: 13px;
    color: #777
}

.button {
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 0;
    background-color: #ee1d23;
    /* color: #ee1d23; */
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.button i,
.button span {
    font-size: 12px;
    padding-left: 3px
}

@media (min-width: 600px) {
    .button {
        padding: 12px 42px
    }
}

.button:hover {
    background: green;
    color: #fff
}

.button-blog {
    padding: 6px 31px
}

.button-postComment {
    font-size: 13px;
    border-radius: 5px;
    padding: 13px 36px
}

@media (min-width: 1000px) {
    .button-postComment {
        padding: 14px 56px
    }
}

.button-contactForm {
    padding: 12px 28px
}

.button-cta {
    padding: 12px 35px
}

.contact-banner {
    position: relative
}

.contact-banner h4,
.contact-banner h1,
.contact-banner a {
    text-transform: uppercase;
    color: #fff
}

.contact-banner h4 {
    font-size: 18px;
    margin-bottom: 15px
}

.contact-banner h1 {
    font-size: 37px;
    margin-bottom: 5px
}

@media (min-width: 992px) {
    .contact-banner h1 {
        font-size: 48px
    }
}

.contact-banner-area {
    height: 280px;
    background: url("../../assets/images/contact-bg.png") center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1
}

@media (min-width: 991px) {
    .contact-banner-area {
        height: 450px
    }
}

.contact-banner-area .contact-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%)
}

.contact-banner-area::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 2, 11, 0.7);
    z-index: -1
}

.contact-banner-btn {
    border: 2px solid #ee1d23;
    padding: 10px 45px
}

.contact-banner-btn:hover {
    background: #ee1d23;
    color: #fff
}

.contact-info__icon {
    margin-right: 20px
}

.contact-info__icon i,
.contact-info__icon span {
    color: #ee1d23;
    font-size: 20px
}

.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0
}

.contact-info .media-body h3 a {
    color: #222
}

.contact-info .media-body p {
    color: #999999
}

.form-contact label {
    color: #ee1d23;
    font-size: 14px
}

.form-contact .form-group {
    margin-bottom: 10px
}

.form-contact .form-control {
    border-radius: 0;
    height: 40px;
    padding-left: 18px;
    border-color: transparent;
    background: rgba(130, 139, 178, 0.1)
}

.form-contact .form-control:focus {
    outline: 0;
    box-shadow: none
}

.form-contact .form-control::placeholder {
    font-size: 14px;
    color: #999999
}

.form-contact .different-control {
    height: 100% !important
}

.footer-area {
    background: #04091e;
    padding-top: 60px;
    width: 100%
}
/*
@media (min-width: 1000px) {
    .footer-area {
         padding-top: 10px
    }
} */

.footer-area .footer-nav li {
    margin-top: 18px
}

.footer-area .footer-nav li a {
    color: #fff
}

.footer-area .footer-nav li a:hover {
    color: #ee1d23
}

.footer-area .primary-btn {
    background-color: #ee1d23;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative
}

.footer-area .primary-btn:focus {
    outline: none
}

.footer-area .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.footer-area .primary-btn:hover {
    background-color: #ee1d23;
    box-shadow: none;
    color: #fff
}

.footer-area .primary-btn:hover span {
    color: #fff;
    right: 20px
}

.footer-area .primary-btn.white {
    border: 1px solid #fff;
    color: #fff
}

.footer-area .primary-btn.white span {
    color: #fff
}

.footer-area .primary-btn.white:hover {
    background: #fff;
    color: #ee1d23
}

.footer-area .primary-btn.white:hover span {
    color: #ee1d23
}

.footer-area h6 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700
}

.copy-right-text i,
.copy-right-text a {
    color: #ee1d23
}

.instafeed {
    margin: -5px
}

.instafeed li {
    overflow: hidden;
    width: 25%;
    margin-bottom: 0 !important
}

.instafeed li img {
    margin: 5px
}

.footer-social {
    text-align: right
}

.footer-social a {
    width: 20px;
    width: 40px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.footer-social a:hover i {
    color: #ee1d23
}

.footer-social i {
    color: rgba(221, 221, 221, 0.5);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

@media (max-width: 991.98px) {
    .footer-social {
        text-align: left;
        margin-top: 20px
    }
}

.single-footer-widget {
    color: #fff
}

.single-footer-widget input {
    line-height: 38px;
    border: none;
    background: #fff;
    border: 1px solid #fff;
    font-weight: 300;
    color: #999999;
    padding-left: 20px;
    width: 80%;
    font-size: 14px
}

.single-footer-widget .bb-btn {
    background-color: #ee1d23;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    border-radius: 0;
    cursor: pointer
}

@media (max-width: 960px) {
    .single-footer-widget .nw-btn {
        margin-top: 20px
    }
    .single-footer-widget .newsletter {
        padding-bottom: 40px
    }
}

.single-footer-widget .info {
    position: absolute;
    margin-top: 3px;
    color: #fff;
    font-size: 14px
}

.single-footer-widget .info.valid {
    color: green
}

.single-footer-widget .info.error {
    color: #ee1d23
}

.single-footer-widget ::-moz-selection {
    background-color: #ee1d23;
    color: #777
}

.single-footer-widget ::selection {
    background-color: #ee1d23;
    color: #777
}

.single-footer-widget ::-webkit-input-placeholder {
    color: #777;
    font-weight: 300
}

.single-footer-widget :-moz-placeholder {
    color: #777;
    opacity: 1;
    font-weight: 300
}

.single-footer-widget ::-moz-placeholder {
    color: #777;
    opacity: 1;
    font-weight: 300
}

.single-footer-widget :-ms-input-placeholder {
    color: #777;
    font-weight: 300
}

.single-footer-widget ::-ms-input-placeholder {
    color: #777;
    font-weight: 300
}

@media (max-width: 991.98px) {
    .single-footer-widget {
        margin-bottom: 45px
    }
}

.single-footer-widget p {
    color: #666
}

.single-footer-widget ul li {
    margin-bottom: 10px
}

.single-footer-widget ul li a {
    color: #666;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-footer-widget ul li a:hover {
    color: #ee1d23
}

.footer-bottom {
    padding: 20px 0;
    margin-top: 30px;
    border-top: 1px solid #333
}

@media (min-width: 1000px) {
    .footer-bottom {
        margin-top: 5px
    }
}

.footer-text a,
.footer-text i {
    color: #ee1d23
}

/* overRight */

.subsubMenu:hover ul {
    visibility: visible !important;
    opacity: 1;
}

#subsubMenuVis1 {
    position: absolute;
    left: 270px;
    top: 0px;
    visibility: hidden
}

@media (max-width: 991px) {
    #subsubMenuVis1 {
        /* display:none; */
        position: relative;
        left: 0px;
        top: 0px;
        visibility: visible !important
    }
    .nav-link1:after {
        display: none
    }
    .nav-link1 {
        display: inline-block;
        padding-right: 10px;
    }
    .header_area .navbar .nav .nav-item:hover {
        color: black;
        opacity: 1
    }
}

.card-imgVideo {
    width: 100%;
    border-radius: calc(.25rem - 1px);
}

/* slider */

